@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple');

body {
  background-color: #d3d3d3;
  color: #fff;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  background-image: url("../assets/tictactoe.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#outside {
  border: 10px solid #F4A460;
  background-color: #222;
  border-radius: 5%;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  text-align: center;
  box-shadow: 0px 4px 4px 4px #111;
}

#spacer {
  height: 100px;
  font-size: 2em;
}

#game {
  margin-left: 1%;
  text-align: center;
  width: 300px;
}

.board {
  height: 100px;
  width: 110px;
}

.chosen {
  border: 3px solid #fff;
  border-radius: 5px;
}

#choose {
  margin: 3% 0% 3% 0%;
  color: red;
}

#again button {
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: #333;
  border: none;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Covered By Your Grace', cursive;
}

/*#again button:hover {
  background-color: #000;
  color: #fff;
}

.won {
  background-color: rgba(255, 255, 255, 0.5);
}

.top {
  border-top: solid 3px #fff;
}

.right {
  border-right: solid 3px #fff;
}

.bottom {
  border-bottom: solid 3px #fff;
}

.left {
  border-left: solid 3px #fff;
}
*/
